body{
    background-color: rgb(5, 94, 94);
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #fff;
    margin-left: 37%;
    margin-top: 250px;
}

input{
    width: 270px;
    padding: 8px;
    border: 2px solida rgb(15, 227, 227);
    outline: none;
    font-size: 19px;
}

button{
    width: 60px;
    height: 41px;
    background-color: rgb(4, 29, 29);
    color: #fff;
    border-radius: 2px;
    font-size: 19px;
    border: none;
    outline: none;
    cursor: pointer;
}

.text ul{
    position: relative;
    background-color: rgb(2, 41, 41);
    color: #fff;
    font-size: 19px;
    text-align: left;
    padding: 7px;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
